<%= link_to "Add New Discount", '/merchant/discounts/new' %>

<section class="discounts">
  <% @discounts.each do |discount| %>
    <section id="discount-<%= discount.id %>">
      <%= link_to discount.name, "/merchant/discounts/#{discount.id}" %>
      <p>Description: <%= discount.description %></p>
      <p>Percent Off: <%= discount.percent_off %></p>
      <p>Minimum Quantity Per Item: <%= discount.minimum_quantity %></p>
    </section>
  <% end %>
</section>
